<h1>Edit Attendee</h1>

<%= form_for @attendee, :url => event_attendee_path(@event,@attendee) , :method => :patch do |f| %>
    <%= render :partial => "form" ,:locals => {:f => f , :attendee => @attendee} %>
<% end %>